@import "tailwindcss";

@theme {
  --color-primary: #004B87;
  --color-secondary: #00AEEF;
  --color-tertiary: #F5F7FA;
  --color-neutral: #1A1C1E;
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
}